{% extends "base.html" %}
{% block content %}

<h3 class="red-text text-darken-4 center-align">Manage Cuisines</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('new_cuisine') }}" class="btn-large red text-minus-shadow">
            New Cuisine <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for cuisine in cuisines %}
        <div class="col s12 m3">
            <div class="card red-text text-darken-3 center-align">
                <div class="card-content">
                    <h6 class="card-title cuisine-header">{{ cuisine.cuisine_type }}</h6>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('delete_cuisine', cuisine_id=cuisine._id) }}" class="btn red">Delete</a>
                    <a href="{{ url_for('edit_cuisine', cuisine_id=cuisine._id) }}" class="btn green">Edit</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}