{% extends "base.html" %}
{% block content %}

<h3 class="red-text text-darken-4 center-align">Edit Recipe</h3>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
    <div class="row">
      <!--cuisine type-->
      <div class="input-field col s12 m6">
        <i class="fas fa-flag prefix red-text text-darken-3"></i>
        <select id="cuisine_type" name="cuisine_type" class="validate" required>
          <option value="" disabled>Choose Cuisine</option>
          {% for cuisine in cuisines %}
          {% if cuisine.cuisine_type == recipe.cuisine_type  %}
          <option value="{{ cuisine.cuisine_type }}" selected>{{ cuisine.cuisine_type }}</option>
          {% else %}
          <option value="{{ cuisine.cuisine_type }}">{{ cuisine.cuisine_type }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label for="cuisine_type">Cuisine Type</label>
      </div>
      <!-- recipe name-->
      <div class="input-field col s12 m6">
        <i class="fas fa-question prefix red-text text-darken-3"></i>
        <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" value="{{ recipe.recipe_name }}"
          type="text" class="validate" required>
        <label for="recipe_name">Recipe Name</label>
      </div>
    </div>
    <div class="row">
      <!-- image url-->
      <div class="input-field col s12">
        <i class="fas fa-image prefix red-text text-darken-3"></i>
        <input id="image_url" name="image_url" value="{{ recipe.image_url }}" type="text" class="validate" required>
        <label for="image_url">Image Url</label>
      </div>
    </div>
    <div class="row">
      <!-- preperation minutes-->
      <div class="input-field col s6 m4">
        <i class="far fa-clock prefix red-text text-darken-3"></i>
        <input id="preperation_time" name="preperation_time" value="{{ recipe.preperation_time }}" type="number"
          class="validate" required>
        <label for="preperation_time">Prep (Mins)</label>
      </div>
      <!-- cooking mintues-->
      <div class="input-field col s6 m4">
        <input id="cooking_time" name="cooking_time" value="{{ recipe.cooking_time }}" type="number" class="validate"
          required>
        <label for="cooking_time">Cooking (Mins)</label>
      </div>
      <!-- serves-->
      <div class="input-field col s12 m4">
        <i class="fas fa-user-plus prefix red-text text-darken-3"></i>
        <input id="serves" name="serves" value="{{ recipe.serves }}" type="number" class="validate" required>
        <label for="serves">Serves</label>
      </div>
    </div>
    <!-- ingredients-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-tasks prefix red-text text-darken-3"></i>
        <textarea id="ingredients" name="ingredients" minlength="5" maxlength="2500" type="text"
          class="materialize-textarea validate" required>{{ recipe.ingredients }}</textarea>
        <label for="ingredients">List of Lngrediants</label>
      </div>
    </div>
    <!-- method-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-pencil prefix red-text text-darken-3"></i>
        <textarea id="method" name="method" minlength="5" maxlength="2500" type="text"
          class="materialize-textarea validate" required>{{ recipe.method }}</textarea>
        <label for="method">Method</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6 center-align">
        <!-- cancel Button-->
        <a href="{{ url_for('get_recipes') }}" class="btn-large red text-minus-shadow">
          Cancel <i class="fas fa-times-circle right"></i>
        </a>
      </div>
      <!-- edit button-->
      <div class="col s6 center-align">
        <button type="submit" class="btn-large green text-minus-shadow">
          Edit <i class="fas fa-edit right"></i>
      </div>
    </div>
  </form>
</div>
{% endblock %}