{% extends "base.html" %}
{% block content %}

<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <h3 class="recipe-header red-text text-darken-4">{{ recipe.recipe_name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <img class="view-recipe-img" src="{{ recipe.image_url }}" alt="recipe photo">
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <p><strong> Preperation <i class="far fa-clock prefix"></i> :</strong> {{ recipe.preperation_time }} mins</p>
        </div> 
        <div class="col s6">
            <p><strong> Cooking <i class="far fa-clock prefix"></i> :</strong> {{ recipe.cooking_time }} mins</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p><i class="fas fa-user prefix"></i> {{ recipe.serves }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4><i class="fas fa-tasks prefix"></i> Ingredients List:</h4>
            <p class="ingredients-text">{{ recipe.ingredients }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4><i class="fas fa-pencil prefix"></i> Method:</h4>
            <p class="method-text">{{ recipe.method }}</p>
        </div>
    </div>
    <div class="row">
        {% if session.user | lower == recipe.created_by | lower %}
            <div class="col s6">
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"  class="btn-large red text-minus-shadow recipe-button">Delete</a>
            </div>
            <div class="col s6">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"  class="btn-large green text-minus-shadow recipe-button">Edit</a>
            </div>
        {% endif %}    
    </div>    

</div>

{% endblock %}